asn1crypto==0.24.0
Cheetah==2.4.4
cryptography==2.1.4
Django==1.11.29
django-localflavor==2.2
enum34==1.1.6
gyp==0.1
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
libvirt-python==4.0.0
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
python-stdnum==1.12
pytz==2019.3
pyxdg==0.25
SecretStorage==2.3.1
six==1.11.0
