*{
    font-family: 'Nunito', sans-serif;
}

html{
    background: #fdf0d5;
}
#logos{
    height: auto;
    width: 15%;

}
header{
    text-align:center ;
}
.greeting{
    padding-top: 4px;
    font-size: 12pt;
    display: block;
    font-style: italic;
    float: right;
    color: darkslategrey;
    padding-right: 2%;
}
#ok{
    font-size: 13pt;
}
#container{
    display: grid;
    grid-column: 1/4;
    grid-column-template: 33% 33%, 33%;

}
.okay{
    display: inline-block;
    grid-column: 1;
    padding-left: 2%;

}
.usersid{
    display: inline-block;
    grid-column: 2;
}

.stylistid{
    display: inline-block;
    grid-column:3;
}
#tester{
    display: inline-block;
    text-align: center;
}
img {
    height: 120px;
}

.cover {
    width: 360px;
    object-fit: cover;
}