<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home :: Primp </title>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 70%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>

</head>
<body>
{% block content %}
<div class="w3-bar w3-light-grey">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="{% url 'log_out' %}" class="w3-bar-item w3-button">Log Out</a>
    <input type="text" class="w3-bar-item w3-input" placeholder="Search..">
    <a href="#" class="w3-bar-item w3-button w3-pink">Go</a>
</div>

<p class="greeting">Logged in as, {{ user.username }}.</p>
<p> <img src="{{user.profile.Profile_Picture}}" alt=""> </p>


<button id = "use-location">Use my location</button><br/>
<p id = "status"></p>
<div id="map"></div>

{% for post in Stylist %}

{% if post.Profile_Picture %}
<p>
<img src="{{post.Profile_Picture.url}}" alt="img">
</p>
{% endif%}

<a href="{%url 'primper' post.user_id%}"><p> {{post.user}}</p></a>
<p> {{post.TypeofStylist}}</p>

{% endfor %}

<script>

    let my_stylist = '{{ Stylist }}';

    function initMap() {

    let latitude =2;
    let longitude =2;

    function Locator() {

        const status = document.querySelector('#status');

        function success(position) {
            let latitude  = position.coords.latitude;
            let longitude = position.coords.longitude;
            console.log(latitude, longitude);

            fetch("/update_location/", {
                method: "PUT",
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    latitude: latitude,
                    longitude: longitude,
                })
            })
                .then(data => data.text())

                .then(info=> {
                    console.log(info)
                });


            status.textContent = '';
            // The location of the current user
            let usersLocation = {lat: latitude, lng: longitude};
            // The map, centered at usersLocation
            let map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: usersLocation});
            // The marker, positioned at usersLocation
            let marker = new google.maps.Marker({position: usersLocation, map: map});

        }

        function error() {
            status.textContent = 'Unable to retrieve your location';
        }

        if (!navigator.geolocation) {
            status.textContent = 'Geolocation is not supported by your browser';
        } else {
            status.textContent = 'Locating…';
            navigator.geolocation.getCurrentPosition(success, error);
        }

    }




    let home = {lat: 35.1495, lng:-90.0908202 };
    // The map, centered at home
    let map = new google.maps.Map(
        document.getElementById('map'), {zoom: 8, center: home});
    // The marker positioned at userslocation
    let marker = new google.maps.Marker({position: home, map: map});

    document.querySelector('#use-location').addEventListener('click', Locator);
}
</script>

<script async defer
        src=" https://maps.googleapis.com/maps/api/js?key=AIzaSyBdRX49meltvAx46ktO4zUqkP1I_ZHBgF4&callback=initMap ">
</script>


</body>
{% endblock %}
</html>