<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'PrimpApp/css/home.css'%}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Quicksand|Raleway:400,400i|Roboto:400,500i&display=swap" rel="stylesheet">
    <title>Home :: Primp </title>

    <style>
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 70%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body{
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .okay{
            max-height: 300px;
        }
    </style>

</head>
<body>
{% block content %}
<div id="ok" class="w3-bar w3-white">

    <a href="{% url 'home' %}" class="w3-bar-item w3-button">Home</a>
    <a href="{% url 'edit_profile' %}" class="w3-bar-item w3-button">Profile</a>
    <a href="{% url 'log_in' %}" class="w3-bar-item w3-button">Log In</a>
    <a href="{% url 'log_out' %}" class="w3-bar-item w3-button">Log Out</a>
    <span class="greeting">Logged in as {{ user.username }}</span>
</div>
<header>

    <img id="logos" src="{% static 'PrimpApp/images/primp.png' %}">
</header>
{% if user.alluser.Profile_Picture %}
<p> <img src="{{user.alluser.Profile_Picture}}" alt=""> </p>
{% endif %}

<p><button id = "use-location" class="w3-button w3-block w3-red">Use My Location!</button></p>
<p id = "status"></p>
<div id="map"></div>

<div class="content">
    <form id="searchfilter" action="#" method="post">
        <label for="maxRadius">Find locations within
            <input name="maxRadius" id="maxRadius" type="number" value="5" min="1" />
        </label>
        miles
        <button id="submitLocationSearch">Search</button>
    </form>

<br>
    <p id="tester"> Stylists Near You:</p>
<div id="stylist-near-you">


</div>


<script type="text/javascript"> var tesst = "{{user.username}}";
console.log(tesst);
var currentuserlatitude = {{currentUserlat}};
var currentuserlongitude = {{currentUserlng}};
</script>
<script>
    var stylists = {{stylists|safe}};
</script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdRX49meltvAx46ktO4zUqkP1I_ZHBgF4&libraries=geometry">
    </script>


    <script>
    function PrimpMap() {

        function Locator() {
            const status = document.querySelector('#status');

            function success(position) {
                let latitude = position.coords.latitude;
                let longitude = position.coords.longitude;
                console.log(latitude, longitude);
                fetch("/update_location/", {
                    method: "PUT",
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        lat: latitude,
                        lng: longitude,
                    })
                })
                    .then(data => data.text())
                    .then(info => {
                        console.log(info)
                    });
                status.textContent = '';
                // The marker positioned at currentuserlocation
                let newmarker = new google.maps.Marker({
                    animation: google.maps.Animation.DROP,
                    position: home,
                    title: tesst,
                    icon: {
                        url: "http://maps.google.com/mapfiles/ms/icons/purple-dot.png"
                    },
                    map: map
                });
                newmarker.addListener('click', toggleBounce);

            }

            function error() {
                status.textContent = 'Unable to retrieve your location';
            }

            if (!navigator.geolocation) {
                status.textContent = 'Geolocation is not supported by your browser';
            } else {
                status.textContent = 'Locating…';
                navigator.geolocation.getCurrentPosition(success, error);
            }

        }

        const locations = stylists;
        console.log(locations, stylists);
        const bounds = new google.maps.LatLngBounds();
        const markers = [];
        console.log("hey");
        const infoWindowContent = [];
        let home = {lat: currentuserlatitude, lng: currentuserlongitude};

        let map = new google.maps.Map(document.getElementById('map'));



        locations.forEach(function (location) {
            console.log(location);
            markers.push([location.fields.BusinessName, location.fields.lat, location.fields.lng]);
            infoWindowContent.push(['<h2>' + location.fields.BusinessName + '</h2> ' + " <p>"
            + location.fields.address + " " + location.fields.city + " " +
            location.fields.state + " " + location.fields.zip + " </p>"]);

        });

        var infoWindow = new google.maps.InfoWindow(), marker, i;

        for (i = 0; i < markers.length; i++) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({

                position: position,
                icon: {
                    url: "http://127.0.0.1:8000/static/PrimpApp/images/newprimpmarker.png"
                },
                map: map,
                title: markers[i][0]
            });

            google.maps.event.addListener(marker, 'click', (function (marker, i) {
                return function () {
                    infoWindow.setContent(infoWindowContent[i][0]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));

            if (locations.length > 1) {
                var center = new google.maps.LatLng(currentuserlatitude, currentuserlongitude);
                map.setCenter(center);
                map.fitBounds(bounds);
            }

        }

        function calculateDistance(){


            var userLatLng = new google.maps.LatLng(currentuserlatitude,currentuserlongitude);
            console.log(userLatLng);

            let newStylistList = stylists.map( eachStylist => {
                var stylistLatLng = new google.maps.LatLng(eachStylist.fields.lat, eachStylist.fields.lng);
                var distanceBetween = google.maps.geometry.spherical.computeDistanceBetween(stylistLatLng, userLatLng);
                eachStylist.distance = distanceBetween * 0.000621371;
                return eachStylist

            });
            console.log(newStylistList);

            function filterDistance(blahblah) {
                console.log("hey");

                let maxRadius = parseInt(document.getElementById('maxRadius').value);

                let locationsList = document.getElementById('stylist-near-you');

                locationsList.innerHTML = '';

                blahblah.forEach(function (stylist) {
                    if (maxRadius >= stylist.distance){
                        console.log(maxRadius);
                        console.log(stylist.distance);
                        let eachLocation = document.createElement('img');
                        eachLocation.src = "/" + stylist.fields.Profile_Picture;
                        eachLocation.setAttribute("class", 'each-stylist');
                        let locationInfo2 = "<h2>" + stylist.fields.BusinessName + "</h2>" +
                            "<p>" + stylist.fields.address + " " + stylist.fields.city + " "
                            + stylist.fields.state + " "+ stylist.fields.zip + "</p>" +
                        "<p>" + "Located " + parseInt(stylist.distance) + " miles from you " + "</p>";

                        locationsInfo = document.createElement('div');
                        locationsInfo.innerHTML = locationInfo2;
                        locationsInfo.setAttribute("class","stylist-information");
                        let locationDetail = document.createElement('p');
                        let type = stylist.fields.TypeofStylist;
                        locationDetail.innerText = type;
                        locationDetail.setAttribute('class','type');

                        locationsList.appendChild(eachLocation);
                        locationsList.appendChild(locationsInfo);
                        locationsList.appendChild(locationDetail);


                    }


                })


            }

            newStylistList.sort(function(a, b){
                return a.distance-b.distance
            });


            document.querySelector('#submitLocationSearch').addEventListener('click', function(e) {
                e.preventDefault();
                filterDistance(newStylistList);

            })

        }
        calculateDistance();




        document.querySelector('#use-location').addEventListener('click', Locator);


    }



</script>
<script defer
        src=" https://maps.googleapis.com/maps/api/js?key=AIzaSyBdRX49meltvAx46ktO4zUqkP1I_ZHBgF4&callback=PrimpMap ">
</script>
</div>
</body>
{% endblock %}
</html>